header {
    border:1px solid black ;
    background-size: 100%;
    margin-left:22%;
    color:white;
    text-align:center;
    padding:20px;
    background-image:url("sty.jpg"); 
  
}
header h1{
    margin: 0;
    font-size:3em;
    
    font-family:verdana;
    color:black;
    text-transform:uppercase;
}
header h2{
    color:black;
}
    

.btn{
    position: fixed;
    background-color: #7182b4;
    margin-top:-17%;
    width: 18%;
    height: 100%;
    padding:20px;
    
    overflow-y:auto;

    

} 


.navbar{
    position: fixed;
    text-align: center;
    color:#fff;
    list-style: none;
    margin: 16px;
    top: 200px;
    
}
a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover{
    text-decoration: underline;
    color:orange;
}
img {
    position: absolute;
    width: 200px;
    display: flex;
    padding: 10px;
    border-radius:50%;
}
article{
    color:black;
    margin-left:250px;
    
}
article a {
    color:black;
}
.social{
    position: relative;
    margin-top: 100%;
    display: flex;
    font-size:30px;
    padding: 40%;
    top:100px;

}
table{
    border-collapse: collapse ;
    border-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15 );
}
table tr th{
    margin:0 10px;
    color:#fff;
    padding:1%;
}
table tr td{
    font-style: normal;
    padding: 10px;
}
table tbody td:hover{
    background-color:rgb(150, 147, 147);
}




